 body {
     background-color: rgb(247, 247, 247);
 }
 
 .name .articleName h1 {
     color: #da0000;
     font-family: 'Titillium Web', sans-serif;
     font-size: 32px;
     padding-bottom: 0px;
 }
 
 .article p {
     font-size: 16px;
     line-height: 30px;
     font-family: "Merriweather", serif;
     margin-bottom: 80px;
 }
 
 .article li {
     font-family: "Merriweather", serif;
     font-size: 14px;
     font-style: italic;
 }
 
 .article .image {
     margin-bottom: 25px;
 }
 
 .article h1 {
     font-size: 42px;
     margin-bottom: 25px;
 }
 
 .article .pubDate {
     margin-bottom: 10px;
     text-align: right;
 }
 
 .article .rightSide {
     margin-left: 15px;
 }
 
 .article .authorAndTime {
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px;
 }
 
 .article .authorAndTime i {
     margin-right: 5px;
 }