.elongatedSection {
    background-color: #e6e6e6;
    padding: 15px 0px 15px 0px
}

.elongatedSection .writingSection .header a:hover {
    color: #DC4C3A;
}

.elongatedSection p:hover {
    text-shadow: 0.5px 0px black;
}

.elongatedSection img {
    display: flex;
}

.elongatedSection h3 {
    font-size: 26px;
    padding-bottom: 10px;
}

.writingSection .motorNews {
    margin-bottom: 10px;
}

.writingSection p {
    font-size: 14px;
}

.elongatedSection .category a {
    background-color: #DC4C3A;
}